body {
  font-family: "Lora", serif;
}
h1,
h2,
h3,
p {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

a,
a:active,
a:visited,
a:link {
  color: #757575;
}

h1 {
  font-size: xx-large;
  font-weight: 900;
}
h2 {
  font-weight: lighter;
  font-size: medium;
}
h3 {
  font-weight: 30px;
}
h5 {
  font-size: 15px;
}

input {
  background: rgba(234, 255, 208, 0.15);
  color: #757575;
  border: 2px solid #f38181;
  border-radius: 3px;
  padding: 5px;
  max-width: 120px;
}
input:focus {
  background: #95e1d3;
  transition-duration: 0.2s;
  border: 2px solid #f38181;
}
button {
  background: rgba(234, 255, 208, 0.15);
  color: #757575;
  border: 2px solid #f38181;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  box-shadow: 10px 10px 4px -8px rgba(0, 0, 0, 0.57);
  float: right;
}
button:hover {
  background: #95e1d3;
  transition-duration: 0.4s;
}
button:active {
  font-weight: bolder;
}
form {
  margin: 5px;
  text-align: right;
}
.active {
  font-weight: 700 !important;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
  cursor: default;
}

.forecast-icon {
  font-size: 4vw;
  display: block;
  color: #fce38a;
  padding: 2px;
}
.change-city {
  margin: 0 0 10px 0;
}

.container {
  margin-top: 30px;
}
.coded-by,
.coded-by:visited,
.coded-by:active {
  text-decoration: none;
}
a.coded-by:hover {
  font-weight: bold;
  color: #757575;
  text-decoration: underline;
}
.weather-app-wrapper {
  max-width: 900px;
  border: 1px solid #757575;
  border-radius: 3px;
  padding: 10px 10px 0px 10px;
}
.forecast {
  background: #95e1d3;
  color: #757575;
  border: 2px solid #f38181;
  text-align: center;
}
.forecast:hover {
  border: 3px solid #f38181;
  transition-duration: 0.4s;
}

.units .active {
  text-decoration: none;
  cursor: default;
  font-weight: bolder;
}

.units .active:hover {
  text-decoration: none;
  cursor: default;
  font-weight: bolder;
}

#current-weather {
  text-align: center;
}
#btn-link {
  border-color: #f38181;
}
#current-weather-icon {
  width: 140px;
  display: block;
  margin: 0 auto;
  color: #fce38a;
}
#current-weather-icon:hover {
  color: #f5d668;
  transition-duration: 0.4s;
}
#current-temp-conversion {
  display: inline;
}

#app-box {
  background: rgba(234, 255, 208, 0.2);
  border: 5px solid #f38181;
}

#current-location {
  text-align: right;
}
#top-row {
  padding: 20px;
  position: relative;
}
#forecast {
  padding: 10px;
}
#bottom-row {
  text-align: right;
}
